.App {
  font-family: sans-serif;
  text-align: center;
}

.App button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: violet;
  color: whitesmoke;
  transition: all 0.4s ease;
}

.App button:hover {
  cursor: pointer;
  background: purple;
}
